.cards {
    width: 100%;
    height: 232px;
    overflow-y: auto;
    overflow-x: hidden;
}
.cards-inner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2em;
    justify-content: center;
    padding: 1em;
    scroll-snap-type: y mandatory;
    box-sizing: border-box;
}
.card {
    scroll-snap-align: start;
}