.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .start-dialog {
        width: 600px;
        max-width: 100%;
    }
    .dialog {
        overflow: hidden;
        width: 600px;
        padding: 2em;
        box-sizing: border-box;
        border-radius: .5em;
        button {
            margin: 0 auto;
            display: block;
        }
        h4 {
            text-align: center;
            margin: 0 1em;
        }
        h6 {
            text-align: center;
            margin: 0 2em;
            margin-bottom: .5em;
        }
        .separator {
            height: .5em;
            width: 100%;
        }
        p {
            text-align: center;
        }
        igx-radio {
            display: block;
            margin: .25em;
        }
    }
    .question {
        padding: 0;
        .container2 {
            padding: 2em;
            padding-top: 0;
        }
    }

    .progress {
        width: 100%;
    }

    .wrongAnswers {
        max-height: 25vh;
        overflow-y: auto;
    }

    .identation {
        width: 2em;
        height: 1em;
        display: inline-block;
    }
}