.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .start-dialog {
        width: 600px;
        max-width: 100%;
    }
    .dialog {
        padding: 2em;
        box-sizing: border-box;
        border-radius: .5em;
        button {
            margin: 0 auto;
            display: block;
        }
        h4 {
            text-align: center;
            margin: 0 2em;
            margin-top: 0;
        }
        .separator {
            height: .5em;
            width: 100%;
        }
        p {
            text-align: center;
        }
    }
}