/* You can add global styles to this file, and also import other style files */
body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

html {
    background-image: url('/assets/images/Forest BG.png');
    background-size: cover
}

// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: igx-palette($primary, $secondary);

/* autoprefixer grid: on */

@import "~igniteui-angular/lib/core/styles/themes/index";

$company-color: rgb(17, 90, 48); // Some green shade I like
$secondary-color: rgb(156, 28, 28); // Watermelon pink

$my-color-palette: igx-palette($primary: $company-color,
    $secondary: $secondary-color);
@include igx-core();
@include igx-theme($my-color-palette);

.contents {
    display: contents;
}
* {
    box-sizing: border-box;
}
.dialog {
    background-color: #f8f8f855;
    backdrop-filter: blur(10px);
    box-shadow: #0004 3px 3px 5px;

}