.cards {
    width: 100%;
    height: 332px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}
.cards-inner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2em;
    padding: 1em;
    box-sizing: border-box;
    justify-content: center;
}
.card {
    scroll-snap-align: start;
}