.container {
    .main {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        flex: 1 1 auto;
        align-items: flex-start;
        &>* {
            flex: 1 0 auto;
        }
        h6 {
            margin: 0;
            text-align: center;
        }
        .img-fitter{
            margin-top: .5em;
            width: 100%;
            display: inline-block;
            flex: 1 0 auto;
            background: center no-repeat;
            background-size: cover;
            box-shadow: transparent 3px 3px 5px;
            position: relative;
        }

        margin-top: .5em;
        margin-bottom: 1em;
    }
    .tags {
        display: flex;
        justify-content: end;
        gap: 3px;
        height: 18px;
        flex: 0 1 18px;
        .icon {
            width: 18px;
            height: 18px;
            padding: 2px;
    
            border-radius: 5px;
            background-repeat: no-repeat;
            background-origin: content-box;
            &.endangered {
                background-image: url('/assets/icons/risk-skull.svg');
                background-color: red;
            }
            position: relative;
            &.endangered:hover {
                &::after {
                    position: absolute;
                    opacity: 0.99999;
                    bottom: 0;
                    content: 'Череп на червен фон означава, че следната карта е на застрашен вид';
                    background-color: white;
                    max-width: 100px;
                    z-index: 9999999;
                    }
            }
            &.recycle {
                background-color: green;
                fill: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .info {
        overflow: auto;
        flex: 1 1 auto;
        p {
            margin: 0;
            &.small::before {
                content: '';
                width: 2em;
                height: 3px;
                display: inline-block;
            }
        }
        h6 {
            margin: 0;
            text-align: center;
            &.small {
                margin-bottom: .25em;
                margin-top: .5em;
            }
        }
        .small {
            font-size: .75em;
            line-height: 1.25em;
            text-align: start;
        }
    }

    display: flex;
    flex-direction: column;

    width: 13em;
    height: 20em;

    border-radius: 1em;
    padding: 1em;

    button {
        margin: 0 auto;
        display: block;
        height: min-content;
    }
}

.mini {
    font-size: .75em;
}