<div class="container dialog" #container>
    <div class="main">
        <div class="contents" #frontSide *ngIf="!flipped">
            <h6>{{minigame.name}} <span *ngIf="minigame.comingSoon">(не е готова)</span></h6>
        </div>
        <div class="contents" *ngIf="!minigame.comingSoon">
            <p *ngIf="minigameUserdata.played">
                Вече сте играли тази игра и {{hasMedal() ? 'имате' : 'нямате'}} {{getMedalType()}} медал
            </p>
            <p *ngIf="!minigameUserdata.played">
                Все още не сте играли тази игра
            </p>
        </div>
        <p *ngIf="minigame.comingSoon">
            Тази игра все още се разработва
        </p>
    </div>
    <button [disabled]="minigame.comingSoon" igxButton igxRipple (click)="play()">Играй {{minigameUserdata.played ? 'отново' : ''}}</button>
</div>