img {
    image-rendering: crisp-edges;
    pointer-events: none;
    user-select: none;
}
.dialog-local {
    overflow: hidden;
    width: 600px;
    padding: 2em;
    box-sizing: border-box;
    border-radius: .5em;
    button {
        margin: 0 auto;
        display: block;
    }
    h4 {
        text-align: center;
        margin: 0 1em;
    }
    h6 {
        text-align: center;
        margin: 0 2em;
        margin-bottom: .5em;
    }
    .separator {
        height: .5em;
        width: 100%;
    }
    p {
        text-align: center;
    }
    igx-radio {
        display: block;
        margin: .25em;
    }
}
.container {
    position: absolute;
    top: 30vh;
    display: flex;
    flex-direction: column;
    gap: 3em;
    .bins {
        position: relative;
        display: flex;
        gap: 1em;
        .image {
            max-height: unset;
        }
        transition: left 100ms;
    }
    .conveyor {
        display: flex;
        width: max-content;
        position: relative;
        .conveyor-hitbox {
            width: 100%;
            height: 24px;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    .points {
        position: fixed;
        top: 0;
        right: 0;
        padding: 1em;
        font-weight: 600;
        z-index: 100;
    }
    .timeline {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
    }
}

:host {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
}