img {
    image-rendering: crisp-edges;
}
.conveyor {
    position: absolute;
    top: 30vh;
}
.bins {
    position: absolute;
    bottom: 10vh;
    .image {
        max-height: unset;
    }
    transition: left 100ms;
}

:host {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
}