img {
    image-rendering: crisp-edges;
}
.container {
    position: absolute;
    top: 30vh;
    display: flex;
    flex-direction: column;
    gap: 3em;
    .bins {
        position: relative;
        display: flex;
        .image {
            max-height: unset;
        }
        transition: left 100ms;
    }
    .conveyor {
        display: flex;
        width: max-content;
    }
}

:host {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
}